body{
    margin: 0;
    padding: 0;
}
header {
    background-color: aquamarine;
    padding: 20px 0;
    margin-bottom: 20px;
    width: 100%;
    margin: 0;
}
.header-title-text h1 {
    font-weight: 400;
    font-size: 34px;
}
.header-title-text p, .header-title-text h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.news-1 {
    display: flex;
    justify-content: center;
}
.news-1, .news-2, .news-3 {
    font-family: Arial, Helvetica, sans-serif;
}
.news-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
}
.news-2-article-1 {
    border: solid blue;
    display: flex;
    flex-direction: column;
    /* align-items: end */
}
.author-1{
    font-size: 14px;
}
.news-2-article-1 div, .news-2-article-2 div, .news-2-article-3 div {
    width: 295px;
    margin: auto;
}
/* .news-2-article-1 div, .news-2-article-3 div {
    margin-top: 30px;
} */
.news-2-article-1 figure img, .news-2-article-2 figure img, .news-2-article-3 figure img {
    width: 295px;
}
.article-1 {
    border: solid red 2px;
    width: 370px;
}
.article-1 h2 {
    font-size: 32px;
}
.article-1 p, .news-2-article-1 > div > p, .news-2-article-2 > div > p, .news-2-article-3 > div > p {
    line-height: 1.5;
    font-size: 16px;
}
.img-1 {
    width: 520px;
}
.news-3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.news-3-article-1, .news-3-article-2, .news-3-article-3, .news-3-article-4, .news-3-article-5 {
    border: solid fuchsia;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 930px;
}
.news-3-article-1 > div > .news-3-title-text > p, .news-3-article-2 > div > .news-3-title-text > p,
.news-3-article-3 > div > .news-3-title-text > p, .news-3-article-4 > div > .news-3-title-text > p,
.news-3-article-5 > div > .news-3-title-text > p  {
    line-height: 1.5;
    font-size: 14px;
    margin-top: 10px;
}
.news-3-article-1 > div, .news-3-article-2 > div, .news-3-article-3 > div, .news-3-article-4 > div, .news-3-article-5 > div {
    border: solid red;
    width: 550px;
}
.news-3-article-1 figure img, .news-3-article-2 figure img, .news-3-article-3 figure img, .news-3-article-4 figure img, .news-3-article-5 figure img {
    width: 310px;
    border: solid green;
}
.news-3-article-1 figure, .news-3-article-2 figure, .news-3-article-3 figure, .news-3-article-4 figure, .news-3-article-5 figure {
    border: solid blue;
    margin: 0;
}
.author-bookmark-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.author-bookmark-share > div > a img{
    width: 25px;
}
.news-3-title-text p, .news-3-title-text h3{
    margin: 0;
}